<footer>
    <div class="upper-wrapper">
        <div class="contacts">
            <p class="contact-heading">Contact us</p>
            <ul>

                <li><a href=""><i class="fa-solid fa-envelope"></i> info@garden_of_eden.com</a></li>
                <li class="phone-contacts">
                    <p>Monday - Saturday from 9.00 - 18.00 </p>
                    <p>Sunday - 10.00 - 17.00</p>
                    <p><a href=""><i class="fa-solid fa-phone"></i> 0883477319</a></p>
                    <p><a href=""><i class="fa-solid fa-phone"></i> 0883477318</a></p>
                </li>
                <li>
                    <p>Monday - Saturday from 9.00 - 18.00 </p>

                    <p><a href=""><i class="fa-solid fa-location-dot"></i> Main gardening center - bul.Petko
                            Stoianov 2,
                            Sofia</a></p>
                </li>
                <li>
                    <ul class="media-contacts">
                        <li><a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-pinterest-p fa-lg"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="about">
            <p class="contact-heading">About us</p>
            <p>We have been gardening since 2000 and we deal with only the finest assortiment of plants. Our gardens
                are
                situated in the outskirts of Plovdiv... <a routerLink="/about" class="more">more</a></p>
        </div>
    </div>
    <div class="lower-wrapper">
        <p>All rights reserved Garden of Eden 2023&copy;</p>
    </div>

</footer>