<div class="catalog-wrapper">
    <article class="catalog-card" *ngFor="let plant of plants" (click)="redirectToDetails($event, plant.id)">
        <div class="catalog-img-holder">
            <img src="{{plant.imageUrl}}" alt="plant-image" class="thumbnail">
        </div>
        <section>
            <span class="parisienne plant-name">{{plant.name}}</span>
            <p class="plant-price">{{plant.price}} BGN<span><button><i
                            class="fa-regular fa-heart"></i></button><button><i
                            class="fa-solid fa-basket-shopping"></i></button></span></p>
        </section>
    </article>
</div>