.details-wrapper {
    background-color: gainsboro;
    color: black;
    font-size: 22px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 40px 200px;
}

.details-wrapper .details-info-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.details-info-holder,
.details-img-holder {
    flex-basis: 50%;
    height: 80vh;
}

.details-img-holder img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.details-wrapper hr {
    width: 70%;
}

.details-wrapper .name {
    font-size: 40px;
}

.details-wrapper .buttons {
    display: flex;
    gap: 50px;
    align-items: center;
}

.details-wrapper hr {
    background-color: white;
    height: 2px;
    border: none;
}