<div class="details-wrapper">
    <div class="details-img-holder">
        <img src="https://d2r5uf6odu3th4.cloudfront.net/cuttings/public/CPD030.jpg" alt="pelargonium">
    </div>
    <div class="details-info-holder">
        <h3 class="name parisienne">Pelargonium peltatum</h3>
        <hr>
        <ul class="specs">
            <li><span class="bold"><i class="fa-solid fa-leaf"></i>Light:</span> loves full sun exposure</li>
            <li><span class="bold"><i class="fa-solid fa-leaf"></i>Water:</span> regularly, but in small
                quantity don't soil the root too much,
                unless root
                rot</li>
            <li><span class="bold"><i class="fa-solid fa-leaf"></i>Fertilizer:</span> once every two weeks
                during bloom and once a month winter
                time
            </li>
            <li><span class="bold"><i class="fa-solid fa-leaf"></i>Temperature:</span> 15 - 30 Degrees Celsius
            </li>
            <li><span class="bold"><i class="fa-solid fa-leaf"></i>Humidity:</span> at least 40%, if wheather is
                hot must be sprayed on with
                humidifier</li>
        </ul>
        <hr>
        <p class="price">22 BGN</p>
        <hr>
        <div class="buttons">
            <i class="fa-regular fa-heart fa-xl"></i>
            <button><i class="fa-solid fa-basket-shopping"></i> Add to cart</button>
        </div>
    </div>
</div>