<div class="details-wrapper">
    <i class="fa-solid fa-chevron-left fa-xl" (click)="onBackClick()"></i>
    <div class="details-img-holder">
        <img src="{{plant.imageUrl}}" alt="pelargonium" class="thumbnail">
    </div>
    <div class="details-info-holder">
        <h3 class="name parisienne">{{plant.name}}</h3>
        <hr>
        <ul class="specs">
            <li class="left"><span class="parisienne span-first"><i class=" fa-solid fa-sun"></i> Light</span>
                <hr class="in-hr">
                <span>{{plant.light}}</span>
            </li>
            <li class="right"><span class="parisienne span-first"> Water <i class="fa-solid fa-droplet"></i></span>
                <hr class="in-hr"><span>{{plant.water}}</span>
            </li>
            <li class="left"><span class="parisienne span-first"><i class="fa-solid fa-leaf"></i>
                    Fertilizer</span>
                <hr class="in-hr"><span>{{plant.fertilizer}}</span>

            </li>
            <li class="right"><span class="parisienne span-first">
                    Temperature <i class="fa-solid fa-temperature-three-quarters"></i></span>
                <hr class="in-hr"><span>{{plant.temperature}}
                    Celsius</span>

            </li>
            <li class="left"><span class="parisienne span-first"><i class="fa-solid fa-wind"></i>
                    Humidity</span>
                <hr class="in-hr"><span>{{plant.humidity}}</span>
            </li>
        </ul>
        <hr>
        <p class="price">{{plant.price}} BGN</p>
        <hr *ngIf="currUser">
        <div class="buttons" *ngIf="currUser">
            <button class="like-btn" (click)="onHeartClick(plant.id, plant.name, plant.imageUrl,plant.price)"
                [ngClass]="liked? 'salmon' :''"><i
                    class="fa-regular fa-heart {{liked? 'fa-2xl' : 'fa-xl'}}"></i></button>
            <button class="add-to-cart-btn" (click)="onCartClick(plant.id, plant.name, plant.imageUrl, plant.price)"
                [ngStyle]="addedToCart? {'background-color' : 'white', 'color': 'dimgray'}: {}"><i
                    class="fa-solid fa-basket-shopping"></i>
                {{addedToCart? 'Added to cart' :'Add to cart'}}</button>
        </div>
    </div>
</div>