<div class="like-wrapper">
    <h1 class="parisienne">Favorites</h1>
    <div class="catalog-wrapper">
        <article class="catalog-card">
            <div class="catalog-img-holder">
                <img src="https://d2r5uf6odu3th4.cloudfront.net/cuttings/public/CPD030.jpg" alt="" class="thumbnail">
            </div>
            <section>
                <span class="parisienne plant-name">Pelargonium peltatum</span>
                <p class="plant-price">22 BGN<span><i class="fa-solid fa-basket-shopping"></i></i> <i
                            class="fa-solid fa-trash-can"></i></span></p>
            </section>
        </article>
        <article class="catalog-card">
            <div class="catalog-img-holder">
                <img src="https://plnts.com/_next/image?url=https%3A%2F%2Fwebshop.plnts.com%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2Faa5d334f459227518b6c3cf7ea9d29ed%2Fp%2Fl%2Fpl.xxl.006_-_alocasia_yucatan_princess-1.jpg&w=640&q=80"
                    alt="" class="thumbnail">
            </div>
            <section>
                <span class="parisienne plant-name">Yucatan Princess</span>
                <p class="plant-price">43 BGN<span><i class="fa-solid fa-basket-shopping"></i></i> <i
                            class="fa-solid fa-trash-can"></i></span></p>
            </section>
        </article>
    </div>