<div class="like-wrapper">
    <h1 class="parisienne">Favourites</h1>
    <div class="catalog-wrapper" *ngIf="!noFavourites">
        <app-card *ngFor="let plant of plants" [inCart]="inCart" [plant]="plant" [userId]="userId" [plants]="plants"
            (trashClickEvent)="updateFavourites($event)" (cartClickEvent)="updateCart($event)" />
    </div>

    <div class="p2-wrapper" *ngIf="noFavourites">
        <div class="img-wrapper">
            <img src="https://succulentsbox.com/cdn/shop/products/Hoya-Kerrii-Heart.jpg?v=1675669365"
                alt="cactus-heart">
        </div>
        <h2 class="parisienne">No favourites yet. Check out our <a routerLink="/catalog">catalog</a>.</h2>
    </div>