<header>
    <div class="logo parisienne">
        <p>
            <a routerLink="/home"><i class="fa-brands fa-pagelines fa-flip-vertical"></i>Garden of Eden<i
                    class="fa-brands fa-pagelines fa-rotate-180"></i></a>
        </p>
    </div>
    <div class="search">
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
            <input type="text" name="search" placeholder="Search...." ngModel>
            <button type="submit"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></button>
        </form>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <li><a routerLink="/home">home</a></li>
                <li><a routerLink="/login">login</a></li>
                <li><a routerLink="/register">register</a></li>
                <li><a routerLink="/catalog">catalog</a></li>
                <!-- <li><a href="#">logout</a></li> -->
                <!-- <li class="heart"><a routerLink="/favourites"><i class="fa-regular fa-heart fa-xs"></i></a></li>
                <li class="cart"><a routerLink="/cart"><i class="fa-solid fa-basket-shopping fa-xs"></i></a></li> -->
            </ul>
        </nav>
    </div>
    <!-- <div class="shopping_cart">
           
        </div> -->
</header>