header a {
    font-family: "Parisienne";
    font-style: normal;
}

header ul a:hover {
    opacity: 0.7;
}

header {
    display: flex;
    align-items: center;
    gap: 40px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 5;
    padding: 0 50px;
}

header i {
    color: rgb(91, 88, 88);
}

header .navigation .heart {
    padding-top: 20px;
}

header .navigation .cart {
    padding-top: 15px;
    padding-right: 20px;
}

.logo p a {
    font-size: 60px;
    margin-right: auto;
}

header a {
    font-size: 40px;
}

header .search {
    margin-left: auto;
}

header .search form {
    gap: 10px;
    display: flex;
    align-items: center;
}

header .search i {
    color: rgb(91, 88, 88);
}

header .search i:hover {
    opacity: 0.7;
}

header .search input {
    padding: 2px 0;
    border-radius: 18px;
    font-size: 20px;
    text-indent: 8px;
    overflow-x: hidden;
    word-wrap: break-word;
    outline: none;
    border: 1.5px solid black;
    width: 20vw;
}

header .search input:focus,
header .search input:hover {
    border: 2px solid black;
}

header .shopping_cart {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

header .shopping_cart img {
    height: 44px;
}

.underlined {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

header .guest,
header .user {
    display: flex;
    align-items: center;
    gap: 50px;
}

.welcome {
    font-size: 26px;
    color: salmon
}

.ul-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fa-solid.fa-heart.salmon {
    color: salmon;
}

@media screen and (max-width: 1620px) {

    .logo p a {
        font-size: 40px;
    }

    header .search input {
        font-size: 18px;
        width: 15vw;
    }

}

@media screen and (max-width: 1420px) {

    header a {
        font-size: 30px;
    }

    .search .fa-2xl {
        font-size: 24px;
    }

    .welcome {
        font-size: 20px;
    }

    header .guest,
    header .user {
        gap: 30px;
    }

    header .search input {
        font-size: 16px;
        width: 15vw;
    }
}

@media screen and (max-width: 1160px) {

    header {
        padding: 0;
    }

    /* .logo p a {
        font-size: 35px;
    } */

    header .search form {
        gap: 5px;
    }

    header .search input {
        font-size: 12px;
    }
}

@media screen and (max-width: 1030px) {
    header {
        gap: 10px;
    }

    header h2 {
        display: none;
    }
}

@media screen and (max-width: 788px) {

    .logo p a {
        font-size: 28px;
    }

}