.about-us {
    background-color: gainsboro;
    color: black;
    padding: 20px 200px 60px 200px;
    font-size: 20px;
    display: flex;
    gap: 3.6rem;
    flex-direction: column;
    justify-content: center;
}

.about-us h1 {
    text-align: center;
    font-size: 2.6rem;
}

.about-us h2 {
    font-size: 2.2rem;
}

.about-us article {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.about-us article p {
    text-indent: 20px;
    text-align: justify;
    line-height: 1.8;
}

.about-us .img-wrapper {
    border: 4px solid white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    width: 140rem;
    padding: 20px 30px;
}

.about-us img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

hr {
    width: 50%;
    height: 2px;
    border: none;
    background-color: white;
}

.h2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
}