<div class="pic-wrapper login">
    <fieldset class="form-wrapper">
        <legend>Login</legend>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

            <label for="username">Username</label>
            <input type="text" name="username" id="username" ngModel required #username="ngModel">
            <div *ngIf="username.invalid && username.touched" class="alert">
                <p>Username is required</p>
            </div>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" ngModel required #password="ngModel">
            <div *ngIf="password.invalid && password.touched" class="alert">
                <p>Password is required</p>
            </div>

            <button type="submit" [disabled]="loginForm.invalid">Sign in</button>

            <p>Not registered yet?
                <a href="/register" class="underlined bold">Sign up</a>
            </p>
        </form>
    </fieldset>
</div>