<div class="cart-wrapper">
    <h1 class="parisienne">Shopping cart</h1>
    <button class="continue" (click)="onContinueClick()">Continue shopping</button>
    <hr>
    <table>
        <thead>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let plant of plants">
                <td>
                    <div class="cart-image-holder">
                        <img src="{{plant.imageUrl}}" alt="">
                    </div>
                </td>
                <td>
                    <p>{{plant.name}}</p>
                </td>
                <td>
                    <div class="cart-button-div">
                        <button>-</button>
                        <span>{{plant.quantity}}</span>
                        <button>+</button>
                    </div>
                </td>
                <td>
                    <div class="table-price">
                        <span>{{plant.price}} BGN</span>
                        <button class="unset"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="total">
        <span class="bold">Total</span><span class="total-price-cart">22 BGN</span>
    </div>
    <hr>
    <button class="finish">Finish</button>
</div>