<div class="cart-wrapper">
    <h1 class="parisienne">Shopping cart</h1>
    <button class="continue" (click)="onContinueClick()">Continue shopping</button>
    <hr>
    <table>
        <thead>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="cart-image-holder">
                        <img src="https://d2r5uf6odu3th4.cloudfront.net/cuttings/public/CPD030.jpg" alt="">
                    </div>
                </td>
                <td>
                    <p>Pelargonium peltatum</p>
                </td>
                <td>
                    <div class="cart-button-div">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>
                </td>
                <td>
                    <div class="table-price">
                        <span>22 BGN</span>
                        <button class="unset"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="cart-image-holder">
                        <img src="https://d2r5uf6odu3th4.cloudfront.net/cuttings/public/CPD030.jpg" alt="">
                    </div>
                </td>
                <td>
                    <p>Pelargonium peltatum</p>
                </td>
                <td>
                    <div class="cart-button-div">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>
                </td>
                <td>
                    <div class="table-price">
                        <span>22 BGN</span>
                        <button class="unset"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="total">
        <span class="bold">Total</span><span class="total-price-cart">22 BGN</span>
    </div>
    <hr>
    <button class="finish">Finish</button>
</div>