@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: unset;
}

button {
    all: unset;
}

html {
    font-family: "DM Sans";
    color: rgb(53, 54, 54);
    font-style: italic;
}

body {
    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
    position: relative;
    min-height: 100vh;
}

.parisienne {
    font-family: "Parisienne";
    font-style: normal;
}

div.pic-wrapper {
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}


div.pic-wrapper::after {
    content: '';
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(21, 118, 17, 0.8710316890428046) 70%, rgba(223, 228, 51, 1) 100%);
    display: block;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.4;
}

div.pic-wrapper>* {
    z-index: 3;
    position: relative;
}

button {
    border: 1px solid white;
    padding: 2px 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

button:hover {
    cursor: pointer;
    font-weight: 700;
}

main {
    color: white;
    padding-bottom: 2.5rem;
}

.bold {
    font-weight: 600;
}

.white {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

i {
    color: rgb(91, 88, 88);
}

i.fa-heart:hover {
    color: salmon;
}

.thumbnail {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.thumbnail:hover {
    transform: scale(1.2);
}