<div class="pic-wrapper home">
    <div class="heading-wrapper">
        <h1>
            <p class="parisienne">Welcome to our</p>
            <p class="parisienne">lustrious garden</p>
        </h1>
        <h2>Gardening has never been so easy</h2>
        <h2>We have more than 300 species of plants you can browse from</h2>
        <h2>Check out our <a href="" class="catalog-anchor">catalog</a></h2>
        <ul>
            <li class="parisienne"><i class="fa-solid fa-leaf"></i></i>Shippment is cost free over 70BGN</li>
            <li class="parisienne"><i class="fa-solid fa-leaf"></i>Delievery the next day for orders, made until
                17 pm</li>
        </ul>
    </div>
</div>
<div class="most-recent">
    <h2 class="parisienne">Most recently added:</h1>
        <div class="card-wrapper">
            <article class="card">
                <h3>Pelargonium peltatum 23 BGN</h3>
                <div class="img-holder">
                    <img src="https://d2r5uf6odu3th4.cloudfront.net/cuttings/public/CPD030.jpg" alt="">
                </div>
            </article>
            <article class="card">
                <h3>Chrysanthemum 10 BGN</h3>
                <div class="img-holder">
                    <img src="https://sf.tac-cdn.net/images/v2/products/large/FTD-B7-4923.jpg?auto=webp&quality=70&width=490"
                        alt="">
                </div>
            </article>
            <article class="card">
                <h3>Miniature rose 16 BGN</h3>
                <div class="img-holder">
                    <img src="https://nurserylive.com/cdn/shop/products/nurserylive-g-miniature-rose-button-rose-any-color-plant-830854.jpg?v=1679750627"
                        alt="">
                </div>
            </article>
        </div>
</div>