<div class="pic-wrapper home">
    <div class="heading-wrapper">
        <h1>
            <p class="parisienne">Welcome to our</p>
            <p class="parisienne">lustrious garden</p>
        </h1>
        <h2>Gardening has never been so easy</h2>
        <h2>We have more than 300 species of plants you can browse from</h2>
        <h2>Check out our <a [routerLink]="['/catalog']" class="catalog-anchor">catalog</a></h2>
        <ul>
            <li class="parisienne"><i class="fa-solid fa-leaf"></i>Shippment is cost free over 70BGN</li>
            <li class="parisienne"><i class="fa-solid fa-leaf"></i>Delievery the next day for orders, made until
                17 pm</li>
        </ul>
    </div>
</div>
<div class="most-recent">
    <h2 class="parisienne">Most recently added:</h2>
    <div class="card-wrapper">
        <article class="card" *ngFor="let plant of latest" (click)="redirectToDetails($event, plant.id)">
            <div class="hr-holder">
                <h3 class="parisienne">{{plant.name}} </h3>
                <hr>
            </div>
            <div class="img-holder">
                <img src="{{plant.imageUrl}}" alt="">
            </div>
            <div class="price-holder hr-holder">
                <hr>
                <p>{{plant.price}} BGN</p>
            </div>
        </article>
    </div>
</div>