div.pic-wrapper.home {
    background-image: url("https://313.bg/image/catalog/blog/313-statiq-vutreshna2.jpg");
}

div.heading-wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.heading-wrapper h1 {
    font-size: 80px;
    font-family: "Parisienne";
    font-style: normal;
}

div.heading-wrapper h2 {
    font-size: 30px;

}

div.heading-wrapper ul {
    padding-left: 40px;
}

div.heading-wrapper li {
    font-size: 40px;
    font-family: "Parisienne";
    font-style: normal;
}

div.heading-wrapper .catalog-anchor {
    font-weight: 900;
    font-size: 38px;
}

div.heading-wrapper .catalog-anchor:hover {
    opacity: 0.8;
}


/* ---------------------MOST VIEWED----------------- */


.most-recent {
    width: 100%;
    color: black;
    background-color: gainsboro;
    padding: 20px 0 40px 0;
}

.most-recent h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 4px solid white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 30px;
    gap: 10px;
}

.card:hover {
    cursor: pointer;
    opacity: 0.9;
    -webkit-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 36px -4px rgba(0, 0, 0, 0.75);
}

.most-recent .img-holder {
    border-radius: 50%;
    background-color: white;
    width: 20vw;
    aspect-ratio: 1 /1;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.most-recent h3 {
    font-size: 30px;
}

.most-recent .hr-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.most-recent .price-holder p {
    font-size: 22px;
    font-weight: 500;
}

.most-recent hr {
    width: 70%;
    height: 2px;
    border: none;
    background-color: white;
}