.catalog-card {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.catalog-card section {
    display: flex;
    flex-direction: column;
    height: 32%;
    justify-content: space-between;
}

.catalog-img-holder {
    height: 68%;
}

.catalog-img-holder img {
    object-fit: contain;
}

.plant-name {
    font-size: 32px;
}

.plant-price {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plant-price span {
    display: flex;
    gap: 12px;
}

.plant-price span button {
    padding: 0;
}

.like-btn:hover {
    color: salmon;
}

.add-to-cart:hover {
    opacity: 0.6;
}

.salmon {
    color: salmon;
}